@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

html ::-webkit-scrollbar {
    /* *Ховаємо скроллбар   */
    width: 0px;
    background: transparent;

}

html {
    /* *Ховаємо скроллбар по горизонталі */
    overflow-x: hidden;
}

header {
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
}

body {
    /* *Використовуємо нульові значення, щоб уникнути проблем */
    margin: 0;
    padding: 0;
    border: 0;
    background: #0f0f0f;
}


.logo {
    /* *Робимо логотип монохромним */
    filter: grayscale(100%)
}


@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        position: relative;
        margin: 0 auto;
    }
}

.logo-file {
    width: 100%;
    height: 100%;
    /* * Значення для логотипу не задавались в HTML, тому вони задані тут, для корректного відображення */
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}


/* *Блок навігації меню */
.menu {
    font-weight: 400;
    margin: auto;
    padding-left: 150px;
}

@media (max-width: 650px) {
    .menu {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    .nav-section {
        padding-bottom: 5px;
        text-decoration: none;
        font-size: 10px;

    }
}

.menu-main {
    display: contents;
}

@media (max-width: 650px) {
    .menu-main {
        flex-direction: column;
    }
}



/* * Налаштування під анімацію кнопок на меню */
.menu-main {
    list-style: none;
    text-align: center;
}

.nav-section {
    display: inline-block;
}

.nava {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #a7a6a6;
    font-weight: 800;
    text-transform: uppercase;
    margin: auto;

}

.nava,
.nava:after,
.nava:before {
    transition: all .5s;
}

.nava:hover {
    color: #555;
}

.nava {
    position: relative;
    transition: all 2s;
    font-family: 'Roboto Slab', serif;
}

.nava:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

.nava:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

.nava:hover {
    color: #fff;
    z-index: 1;
}

.nava:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/* *Блок передзаказу */
.main-heading {
    margin: auto;
    color: #ffffff;
    padding: 30px 0;
}

.email {
    border: 1px solid #363636;
    padding: 15px 30px;
    box-sizing: border-box;
    opacity: 70%;
    display: flex;
    align-items: center;
    font-size: 18px;
    max-width: 275px;
    margin: 10px;
    background: black;
    color: white;
    font-family: 'Roboto Slab', serif;
}

#prebuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    margin-top: 200px;
}

.background-container {
    background-image: url(src/background1.jpg);
    background-size: cover;
    background-attachment: fixed;

}

@media (max-width: 650px) {
    #prebuy {
        margin-top: 120px;
    }
}

.submit {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    max-width: 150px;
    margin: 15px 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    transition: background-color 1s, color 0.5s;
}

.submit:hover {
    background-color: #ffffff;
    color: #0f0f0f;
    transition: background-color 1s, color 0.5s;
}


.grid {
    display: flex;
}

.heading {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;

}

.description-heading {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

/* *Блок з особливостями */
#features {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: 500px;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    /* ! Без фіксованої величини тут не обійтись */
    color: #7E7E7E
}

@media (max-width: 550px) {
    .icon {
        display: none;
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 630px;
    /* ! Без фіксованої величини тут не обійтись */
    padding: 5px;
    font-family: 'Roboto Slab', serif;
}

@media (max-width: 550px) {
    .description {
        width: 100%;
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 650px) {
    #features {
        margin-top: 0;
    }
}

.blackback {
    background: #0f0f0f;
}

#specifications {
    margin: 60px 0;
}

.specifications {
    display: table-cell;
    text-align: center;
    margin: auto;
    border: 7px solid #ffffff;
    border-radius: 3px;
    padding: 70px 150px;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

.specifications-item {
    padding: 5px 0;
    margin: 15px 0;
    list-style-type: none;
}

/* *Блок з кольорами */
.colorsimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* !experimental  */
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#colors {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.specifications-text {
    color: white;
    font-family: 'Roboto Slab', serif;
}


/* *Блок з ціною*/
#sell {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    /* * Найкращий варіант поділити 3 таблиці порівну */
    margin: 10px;
    border: 3px solid #ddd;
    border-radius: 3px;
    list-style-type: none;
    color: #ffffff;
}

.level {
    background-color: #ddd;
    color: #0f0f0f;
    padding: 15px 0;
    width: 100%;
    /* * Варіант який розтягне заголовок в таблиці на всю ширину */
    text-transform: uppercase;
    font-weight: 700;
}

.product-item {
    margin-top: 15px;
}

.product-table {
    margin: 15px 0;
    list-style-type: none;
    text-align: left;
}

.product-section {
    padding: 5px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
    }

    .product {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.buy {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    max-width: 150px;
    margin: 15px 0;
    border: 0;
    background-color: #ffffff;
    color: #0f0f0f;
    opacity: 80%;
    transition: background-color 1s, color 0.5s;
}

.buy:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    transition: background-color 1s, color 0.5s;
    opacity: 80%;
}

/* * Ключові кадри (анімації)*/
@keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

.gradient {
    width: 100%;
    max-width: 100%;
    height: 200px;
    background: #FFE700;
    box-shadow: 0 -200px 100px -120px #ff9100 inset;
    border-radius: 3px;
    animation: background 3s infinite alternate;
}

@keyframes background {
    50% {
        background: #422f85;
        box-shadow: 0 -200px 100px -100px #522881 inset;
    }
}